body {
    /* background-color: #F4A5AE; */
    background: linear-gradient(90deg, #04A6Eb, #7490EB);
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
img {
    width: 300px;
}
button {
    padding: 3.3px 20px;
    background-color: #A8577E;
    border-style:dotted;
    border-color: rgb(196, 181, 151);
    color: #fdffff;
    border-radius: 20px;
    /* box-shadow: 1.5px 1.5px 1.5px gray; */
    transition: 300ms;
}
button:hover {
    background-color: #db76a7;
    box-shadow: none;
    transform: translate(1px,2px);
}
input {
    height: 24.6px;
    border-style: none;
    background-color: antiquewhite;
}
input::placeholder {
    transition: 300ms;
    color: #aab;
}
input:focus::placeholder { /* 入力欄にフォーカスした時にplaceholderが右にアニメーションする */
    transform: translateX(40px);
    opacity: 0; /* 不透明度 */
}
